{% include 'header.html' %}
<div class="container">
    <h1>Monte Carlo-metoden</h1>

    <h2> Lite information </h2>
    <p> Min mejl: Nicklas766@live.se </p>

    <h2>Krav 1 </h2>
    <p> Intervall [0, 5] </p>
    <p> f(x) = x^4 </p>


    <h2>Krav 2 </h2>
    <img style="width:100%" src="static/img/intervall.png" />

    <h2>Krav 3, 4 </h2>
    <p> Informationen för krav 3 är inkluderad i grafen. Nedan så finns fyra "plottningar" med 4 olika stora N. De röda prickarna är de som är över, medan de gröna är under. </p>
    <img style="width:100%" src="static/img/monte-carlo-50.png" />
    <img style="width:100%" src="static/img/monte-carlo-500.png" />
    <img style="width:100%" src="static/img/monte-carlo-1000.png" />
    <img style="width:100%" src="static/img/monte-carlo-10000.png" />

</div>

{% include 'footer.html' %}
